@import "variable";

@mixin flex($al: center, $jc: center, $f: unset) {
  display: flex;
  align-items: $al;
  justify-content: $jc;
  flex-direction: $f;
}

@mixin linkReset($c: $base01) {
  list-style: none;
  padding: 0;

  li a {
    text-decoration: none;
    color: $c;
  }
}

@mixin button($m: fill, $f: 0.75rem) {
  padding: 0.5em 0.8em 0.4em;

  font-size: $f;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: $borderRadiusButton;
  font-weight: 500;
  transition: $transitionPreset;
  transition-property: color, background-color, opacity;

  img {
    height: 1em;
    margin-right: 0.7em;
  }

  @if $m == fill {
    border: $borderThicknessButton solid $base01;
    background-color: $base01;
    color: $base02;
    opacity: 0.8;

    &:hover {
      opacity: 1;
    }

    &:active {
      opacity: 0.8;
    }
  } @else if $m == outline {
    border: $borderThicknessButton solid $base01;
    background-color: transparent;
    color: $base01;

    &:hover {
      background-color: $base01;
      color: $base02;
    }

    &:active {
      opacity: 0.8;
    }
  } @else if $m == switcher {
    padding: 0;
    height: .4em;
    width: 1em;

    opacity: .5;

    &.active {
      opacity: 1;
    }

    &:hover {
      opacity: .8;
    }
  }
}
