// Fonts value
$defaultFontSize: 14px;

// Button value
$borderRadiusButton: 6px;
$borderThicknessButton: .15em;
$ctaFontSize: clamp(0.85rem, 0.4857rem + 0.7589vw, 1.7rem);

// Card value
$borderRadiusCard: 10px;
$borderThicknessCard: .15em;

// Motion value
$transitionPreset: 0.3s ease-in-out;

// Color value
$base01: white;
$base02: #0e1111;
$base03: #ADADAD;
$base02Highlighter: #888A9F;
$baseBGGradient: linear-gradient(
  298deg,
  rgba(14, 17, 17, 1) 46%,
  rgba(29, 34, 34, 1) 67%,
  rgba(41, 47, 47, 1) 86%,
  rgba(65, 73, 73, 1) 100%
);
