@import "mixin";

* {
  margin: 0;

  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: $base01;
}

html {
  font-size: $defaultFontSize;
}

body {
  width: 100vw;
  position: relative;

  background: $baseBGGradient;
  background-repeat: no-repeat;
  overflow-y: scroll;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: $base02;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $base01;
    border-radius: 10px;
  }
}

nav {
  @include flex(center, space-between);

  // responsive value
  font-size: 1rem;

  width: 100%;
  height: 4.5em;
  padding: 0.3em 5em;
  position: sticky;
  top: 0;
  left: 0;

  .logo,
  .mainbutton {
    flex: 1;
  }

  .logo {
    @include flex($jc: flex-start);

    height: 100%;

    img {
      height: 80%;
      width: auto;
    }
  }

  .navigation {
    width: 19em;

    font-size: 0.9em;
    font-weight: 500;

    ul {
      @include flex(center, space-between);
      @include linkReset;

      li {
        position: relative;

        a {
          color: $base01;
          opacity: 0.5;
          transition: $transitionPreset;
          transition-property: opacity;
        }

        &::after {
          position: absolute;
          top: 100%;
          left: 50%;

          height: 3px;
          width: 0;

          content: "";
          background-color: $base01;
          transform: translateX(-50%);
          transition: $transitionPreset;
          transition-property: width;
        }

        &:hover {
          a {
            opacity: 1;
          }

          &::after {
            width: 80%;
          }
        }

        &.active,
        &.active:hover {
          a {
            opacity: 1;
          }

          &::after {
            width: 100%;
          }
        }
      }
    }
  }

  .mainbutton {
    @include flex($jc: flex-end);

    button {
      @include button(outline, 0.75em);
    }
  }
}

.overlay {
  display: none;

  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;

  background-color: $base02;
  z-index: 10;

  &::before {
    @include flex;

    height: 100%;
    width: 100%;

    font-size: clamp(0.5rem, 0.1429rem + 1.7857vw, 1rem);
    content: "This page not yet support viewport with dimension at 767px or lower";
  }
}

.views {
  width: 100%;
  padding-top: 3em;

  .firstview {
    background-image: url("./assets/BG01.svg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% 80%;

    .firstaction {
      text-align: center;

      h1 {
        font-size: clamp(1.8rem, 0.8571rem + 1.9643vw, 4rem);
      }

      p {
        margin-top: 1em;

        font-size: clamp(0.7rem, 0.1429rem + 1.1607vw, 2rem);
      }
    }

    .ctabutton {
      margin-top: 3em;

      text-align: center;

      button {
        &:nth-child(1) {
          @include button(outline, $ctaFontSize);

          margin-right: 1em;
        }

        &:nth-child(2) {
          @include button(fill, $ctaFontSize);
        }
      }
    }

    .details {
      position: relative;
      margin-top: 2.8em;

      text-align: center;

      .toppeople,
      .ceoquote {
        top: 30%;
      }

      .toppeople {
        @include flex($f: column);

        position: absolute;
        left: 10%;

        font-size: clamp(0.65rem, 0.3286rem + 0.6696vw, 1.4rem);

        h3 {
          font-size: 1.5em;
        }

        .card {
          @include flex($f: column);

          padding: 1.5em 2em 1em;
          margin-top: 1em;
          width: max-content;

          border: $borderThicknessCard solid $base01;
          border-radius: $borderRadiusCard;

          .data {
            @include flex($f: row);

            div:nth-child(n + 2) {
              margin-left: 1em;
            }

            .detail {
              @include flex($al: flex-start, $f: column);
            }

            .contacts {
              a:last-child {
                margin-left: 0.5em;
              }

              a img {
                width: 3em;
              }
            }

            .profile {
              img {
                width: 5em;
              }
            }
          }

          .pagination {
            button {
              @include button($m: switcher);
            }
          }
        }
      }

      .ceoimg {
        img {
          height: clamp(28rem, 10rem + 37.5vw, 70rem);
        }
      }

      .ceoquote {
        position: absolute;
        right: 10%;

        text-align: left;
        font-style: italic;
        font-size: clamp(0.8rem, 0.3286rem + 0.9821vw, 1.9rem);

        .quote,
        .quoteby {
          width: fit-content;
        }

        .quote p {
          font-weight: 500;
          font-size: 1em;
        }

        .quoteby {
          position: relative;
          margin-top: 1em;

          p {
            font-size: 0.9em;
            display: inline;
            font-weight: 400;
          }

          &::before {
            content: "-";
            font-size: 1em;
          }

          &::after {
            position: absolute;
            height: 25em;
            width: 20em;
            top: -10em;
            right: -7em;

            content: "";
            background: url("./assets/ceoquote_bg.webp");
            background-size: contain;
            background-repeat: no-repeat;
          }
        }
      }
    }
  }

  .secondview {
    margin-top: 5em;

    background-image: url("./assets/BG02.svg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% 90%;
    text-align: center;

    h1 {
      font-size: clamp(1.5rem, 0.6429rem + 1.7857vw, 3.5rem);
    }

    section {
      @include flex;

      margin-top: 5em;

      div {
        @include flex(flex-start, flex-end, column);

        font-size: clamp(0.7rem, 0.2714rem + 0.8929vw, 1.7rem);

        height: 20em;
        width: 20em;
        padding: 0 1em;

        text-align: left;
        border: $borderThicknessCard solid $base01;
        border-radius: $borderRadiusCard;

        img {
          width: 6em;
        }

        h3,
        p {
          margin-left: calc(1em - 0.2em);
        }

        p {
          margin: 1em 0 0 1em;
          height: 35%;
        }
      }

      div:nth-child(n + 2) {
        margin-left: 2em;
      }
    }

    .pagination {
      @include flex;

      margin: 2em 0;
      font-size: clamp(0.65rem, 0.2857rem + 0.7589vw, 1.5rem);

      .dot button {
        @include button(switcher, 1.2em);
      }

      .arrow {
        a {
          &:last-child {
            margin-left: 1rem;
          }

          img {
            height: 1.6em;

            opacity: 0.5;
            transition: $transitionPreset;
            transition-property: opacity;

            &:active {
              opacity: 1;
            }

            &:hover {
              opacity: 0.8;
            }
          }
        }

        &:last-child {
          margin-left: 60em;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .overlay {
    display: block;
  }

  .views,
  nav {
    display: none;
  }
}
