* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: white;
}

html {
  font-size: 14px;
}

body {
  width: 100vw;
  position: relative;
  background: linear-gradient(298deg, #0e1111 46%, #1d2222 67%, #292f2f 86%, #414949 100%);
  background-repeat: no-repeat;
  overflow-y: scroll;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 5px;
}
body::-webkit-scrollbar-track {
  background: #0E1111;
}
body::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: unset;
  font-size: 1rem;
  width: 100%;
  height: 4.5em;
  padding: 0.3em 5em;
  position: sticky;
  top: 0;
  left: 0;
}
nav .logo,
nav .mainbutton {
  flex: 1;
}
nav .logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: unset;
  height: 100%;
}
nav .logo img {
  height: 80%;
  width: auto;
}
nav .navigation {
  width: 19em;
  font-size: 0.9em;
  font-weight: 500;
}
nav .navigation ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: unset;
  list-style: none;
  padding: 0;
}
nav .navigation ul li a {
  text-decoration: none;
  color: white;
}
nav .navigation ul li {
  position: relative;
}
nav .navigation ul li a {
  color: white;
  opacity: 0.5;
  transition: 0.3s ease-in-out;
  transition-property: opacity;
}
nav .navigation ul li::after {
  position: absolute;
  top: 100%;
  left: 50%;
  height: 3px;
  width: 0;
  content: "";
  background-color: white;
  transform: translateX(-50%);
  transition: 0.3s ease-in-out;
  transition-property: width;
}
nav .navigation ul li:hover a {
  opacity: 1;
}
nav .navigation ul li:hover::after {
  width: 80%;
}
nav .navigation ul li.active a, nav .navigation ul li.active:hover a {
  opacity: 1;
}
nav .navigation ul li.active::after, nav .navigation ul li.active:hover::after {
  width: 100%;
}
nav .mainbutton {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: unset;
}
nav .mainbutton button {
  padding: 0.5em 0.8em 0.4em;
  font-size: 0.75em;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  font-weight: 500;
  transition: 0.3s ease-in-out;
  transition-property: color, background-color, opacity;
  border: 2px solid white;
  background-color: transparent;
  color: white;
}
nav .mainbutton button img {
  height: 1em;
  margin-right: 0.7em;
}
nav .mainbutton button:hover {
  background-color: white;
  color: #0E1111;
}
nav .mainbutton button:active {
  opacity: 0.8;
}

.overlay {
  display: none;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #0E1111;
  z-index: 10;
}
.overlay::before {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: unset;
  height: 100%;
  width: 100%;
  font-size: clamp(0.5rem, 0.1429rem + 1.7857vw, 1rem);
  content: "This page not yet support viewport with dimension at 767px or lower";
}

.views {
  width: 100%;
  padding-top: 3em;
}
.views .firstview {
  background-image: url("./assets/BG01.svg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% 80%;
}
.views .firstview .firstaction {
  text-align: center;
}
.views .firstview .firstaction h1 {
  font-size: clamp(1.8rem, 0.8571rem + 1.9643vw, 4rem);
}
.views .firstview .firstaction p {
  margin-top: 1em;
  font-size: clamp(0.7rem, 0.1429rem + 1.1607vw, 2rem);
}
.views .firstview .ctabutton {
  margin-top: 3em;
  text-align: center;
}
.views .firstview .ctabutton button:nth-child(1) {
  padding: 0.5em 0.8em 0.4em;
  font-size: clamp(0.85rem, 0.4857rem + 0.7589vw, 1.7rem);
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  font-weight: 500;
  transition: 0.3s ease-in-out;
  transition-property: color, background-color, opacity;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  margin-right: 1em;
}
.views .firstview .ctabutton button:nth-child(1) img {
  height: 1em;
  margin-right: 0.7em;
}
.views .firstview .ctabutton button:nth-child(1):hover {
  background-color: white;
  color: #0E1111;
}
.views .firstview .ctabutton button:nth-child(1):active {
  opacity: 0.8;
}
.views .firstview .ctabutton button:nth-child(2) {
  padding: 0.5em 0.8em 0.4em;
  font-size: clamp(0.85rem, 0.4857rem + 0.7589vw, 1.7rem);
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  font-weight: 500;
  transition: 0.3s ease-in-out;
  transition-property: color, background-color, opacity;
  border: 2px solid white;
  background-color: white;
  color: #0E1111;
  opacity: 0.8;
}
.views .firstview .ctabutton button:nth-child(2) img {
  height: 1em;
  margin-right: 0.7em;
}
.views .firstview .ctabutton button:nth-child(2):hover {
  opacity: 1;
}
.views .firstview .ctabutton button:nth-child(2):active {
  opacity: 0.8;
}
.views .firstview .details {
  position: relative;
  margin-top: 2.8em;
  text-align: center;
}
.views .firstview .details .toppeople,
.views .firstview .details .ceoquote {
  top: 30%;
}
.views .firstview .details .toppeople {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  left: 10%;
  font-size: clamp(0.65rem, 0.3286rem + 0.6696vw, 1.4rem);
}
.views .firstview .details .toppeople h3 {
  font-size: 1.5em;
}
.views .firstview .details .toppeople .card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1.5em 2em 1em;
  margin-top: 1em;
  width: max-content;
  border: 2px solid white;
  border-radius: 10px;
}
.views .firstview .details .toppeople .card .data {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.views .firstview .details .toppeople .card .data div:nth-child(n+2) {
  margin-left: 1em;
}
.views .firstview .details .toppeople .card .data .detail {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.views .firstview .details .toppeople .card .data .contacts a:last-child {
  margin-left: 0.5em;
}
.views .firstview .details .toppeople .card .data .contacts a img {
  width: 3em;
}
.views .firstview .details .toppeople .card .data .profile img {
  width: 5em;
}
.views .firstview .details .toppeople .card .pagination button {
  padding: 0.5em 0.8em 0.4em;
  font-size: 0.75rem;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  font-weight: 500;
  transition: 0.3s ease-in-out;
  transition-property: color, background-color, opacity;
  padding: 0.2em 0.5em;
  opacity: 0.5;
}
.views .firstview .details .toppeople .card .pagination button img {
  height: 1em;
  margin-right: 0.7em;
}
.views .firstview .details .toppeople .card .pagination button.active {
  opacity: 1;
}
.views .firstview .details .toppeople .card .pagination button:hover {
  opacity: 0.8;
}
.views .firstview .details .ceoimg img {
  height: clamp(28rem, 10rem + 37.5vw, 70rem);
}
.views .firstview .details .ceoquote {
  position: absolute;
  right: 10%;
  text-align: left;
  font-style: italic;
  font-size: clamp(0.8rem, 0.3286rem + 0.9821vw, 1.9rem);
}
.views .firstview .details .ceoquote .quote,
.views .firstview .details .ceoquote .quoteby {
  width: fit-content;
}
.views .firstview .details .ceoquote .quote p {
  font-weight: 500;
  font-size: 1em;
}
.views .firstview .details .ceoquote .quoteby {
  position: relative;
  margin-top: 1em;
}
.views .firstview .details .ceoquote .quoteby p {
  font-size: 0.9em;
  display: inline;
  font-weight: 400;
}
.views .firstview .details .ceoquote .quoteby::before {
  content: "-";
  font-size: 1em;
}
.views .firstview .details .ceoquote .quoteby::after {
  position: absolute;
  height: 25em;
  width: 20em;
  top: -10em;
  right: -7em;
  content: "";
  background: url("./assets/ceoquote_bg.webp");
  background-size: contain;
  background-repeat: no-repeat;
}
.views .secondview {
  margin-top: 5em;
  background-image: url("./assets/BG02.svg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% 80%;
  text-align: center;
}
.views .secondview section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: unset;
}
.views .secondview section div {
  border: 2px solid white;
  border-radius: 10px;
}

@media (max-width: 767px) {
  .overlay {
    display: block;
  }

  .views,
nav {
    display: none;
  }
}
